body{
	background-image: url("img/computer-background.png");
	background-color: #cccccc;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
table
{
	
	width: 100%;
	height: 100%;
}
h1 {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 50%;
    margin-right: 0;
    font-weight: bold;
}
h2{
	text-decoration: underline;
	position: relative;
	margin-left: 30%;
}
h3{
	text-decoration: underline;
	position: relative;
	margin-left: 40%;
}
<<<<<<< HEAD


#Profile_btn{
	height: 20px;
	width: 100px;
}
#LogOut_btn{
	height: 20px;
	width: 100px;
}
.banner{
	float: left;
	width: 100%;
	height: 5%;
}
.header img
{
	width: 30%;
	height: 20%;
	position: relative;
	margin-left: 35%;
	margin-top: 10px;
}
.toolbarbutton
{
	position: relative;
	float: right;
}

.piechart 
{

	height: 100%
	
=======
.leftpiechartRetangle{
	
	width: 101%;
	height: 75%;
	border:2px solid #000;
	border-right: 0px;
}
.piecharts
{
	width: 100%;
	height: 100%;
>>>>>>> 04ade232445db534952e14e7941a52b97b3c81db
}
.linechart
{
	width: 100%;
	
}
.IE_InputRetangle
{
	position: relative;
	background-color: #FFFFFF;
	margin-bottom: 10%;
}
.MP_InputRetangle
{

}
